*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
html,body{
    height: 100%;
    width: 100%;  
}
.full_body{
    height: 100%;
    width: 100%;
    /* background-color: black; */
}
.nav_desktop{
    height: 8.5vw;
    width: 100%;
    background-color:rgb(237, 104, 94);
    border-radius: 5px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.logo-element{
    height: 8.5vw;
    width: 100%;
    /* background-color: red; */
    position: relative;
    top: 0;
}
.nav_phone{
    display: none;
}
.logo-element{
    height: 8.5vw;
    width: 98%;
    padding: 5px 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    /* top: 10px; */
    
    /* background-color: aqua; */
}
.logo-image{
    display: flex;
    /* align-items: flex-start; */
    flex-wrap: wrap;
}
.logo-image img{
    height: 10vw;
    width: 13vw;
    top: 0;
}
.nav_section{
    height: 20px;
    width: 48px;
    /* background-color: white; */
    margin-right: 20px;
    
}
.nav_element{
    display: flex;
    gap: 4vw;
}
.menu-bar-phone{
    height: 40px;
    width: 40px;
    /* gap: 50px; */
}

.first_page{
    height:calc(100% - 8.5vw) ;
    width: 100%;
    display: flex;

    background-color: rgb(241, 236, 239);
}
.left-div{
    height:calc(100%-8.5vw);
    width: 50%;
    /* background-color: rgb(167, 91, 243); */
    padding-top: 30px;
    padding: 2vw;
    display: flex;
    align-items: center;

}
.left-div p{
    font-size: 6vh;
    font-weight: 600;
}
.left-div p span{
    color: rgb(240, 66, 54);
}
.right-div{
    height:calc(100%-8.5vw);
    width: 50%;
    padding: 10px;
    /* background-color: rgb(184, 231, 184); */
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-div img{
    height: 36vw;
    width: 36vw;
}


@media (max-width: 600px) {
    .first_page{
        height: 100vh;
        width: 100vw;
    }
    .nav_custom{
        height: 100vh;
        width: 85%;
        /* background-color: blueviolet; */
        position: absolute;
        z-index: 10;   
    }
    .logo-menu{
        height: 40px;
        width: 40px;
        z-index: 40;

    }
    .logo-phone{
        height: 80px;
        width: 80px;
    }
    .nav_desktop{
        display: none;
    }
    
    
    
    .nav_phone{
        height: 100vh;
        width: 60%;
        display: inline-block;
        
        
    }
    .logo{
        width: 100vw;
        display: flex;
        justify-content: space-between;

    }
    .nav_element-phone{
        height: 100vh;
        width: 70%;
        background-color: rgb(237, 104, 94);
        position: absolute;
        top: 0;
        padding-top: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 60px;
        text-align: center;
        display: none;
    }

    .nav_element-phone {
        display: none;
      }
      
      .logo-menu {
        cursor: pointer;
    }
    .first_page{
        flex-direction: row;
       flex-wrap: wrap;
    }
    .left-div{
        width: 85%;
        /* margin: 5px; */
        padding-top: 40px;
        /* padding: 10px; */
        /* background-color: aquamarine; */
    }
    .left-div p{
        font-size: 8vw;
    }
    .right-div{
        width: 85%;
    }
    .right-div img{
        height: 330px;
        width: 330px;
    }
}
